header{
    background: gray;
    padding:20px;
    
}
.navegação{
    position: relative;
    width: 940px;
    margin: auto;
}
nav{
    position: absolute;
    top: 50%;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
    
    
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 15px;
}
nav a:hover{
    color: darkgoldenrod;
    font-size: 30px;
    transition: 0.6s;
    margin: 0 0 15px 15px;
}
nav a:active{
    color: rgb(15, 116, 205);
    transition: 0s;
}

main{
    background: linear-gradient(white,gray);
   
}
H1{ 
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin: 3%;  
}
.produtos{

    width: 940px;
    margin: 0 auto;
    

}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin:2% 1.5%;
    padding: 30px 20px;
    vertical-align: top;
    border: 1.5px solid black;
    border-radius: 25px;
    box-sizing: border-box;
}
.produtos li:hover{
    border-color: darkgoldenrod;
    padding: 50px 40px;
    transition: 0.5s;
    background: black;
    color: darkgoldenrod;

}
.produtos li:hover .img0{
    border-radius: 150px 25px 150px 25px;
    transition: 0.3s;
   
}
.produtos li:hover h2{
    font-size: 35px;
    transition: 0.2s;
}
.produtos li:hover p{
    font-size: 25px;
    
}
.produtos li:active{
    color: rgb(15, 116, 205);
    transition: 0s;
}
.img0{
    border-radius: 25px 150px 25px 150px;
    
}

h2{
    font-weight: bold;
    font-size: 30px;
}
p{
    font-size: 18px;

}
.preço{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.preço:hover{
    font-size: 25px ;
}
.logo-branco{
    position: absolute;
    top: 150%;
    left: 43%;
}
.mapa{
    padding: 3em 0;

}
footer {
    background: url(bg.jpg);
}

footer p {
    color: white;
    text-align: center;
}

.logo-branco {
    position: relative;
    left: 43.5%;
   
}
