header {
    background: gray;
    padding: 20px;
    box-sizing: border-box;
}

.navegação {
    position: relative;
    width: 940px;
    margin: auto;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    left: 0;
}

nav {
    position: absolute;
    right: 0;
    top: 23%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 15px;
}

nav a:hover {
    color: darkgoldenrod;
    font-size: 30px;
    transition: 0.6s;
    margin: 0 0 15px 15px;
}

nav a:active {
    color: rgb(15, 116, 205);
    transition: 0s;
}

body {
    background: linear-gradient(white, gray);
}

main {

    width: 940px;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

.padrao {
    display: block;
    width: 50%;
    font-size: 18px;
    margin: 15px 0 15px 0;

}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    margin: 10px 10px 10px 0;
    font-size: 18px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

fieldset {
    margin: 20px 0px 20px 0px;
}



select {
    margin: 20px 0 0 0;
    cursor: pointer;

}


.botao{
    transition: 0.3s;
    width: 50%;
    padding: 15px 0;
    color: white;
    background: orange;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.botao:hover{
    transition: 0.3s;
    width: 50%;
    padding: 15px 0px;
    color: white;
    background: darkorange;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.05);
}
table{
    margin: 20px 0 40px;
}
thead{
    background: white;
    color: black;
    border: 1.5px solid black;
}
td, th{
    border: 1px solid black;
    padding: 8px 15px;
}
footer {
    background: url(bg.jpg);
}

footer p {
    color: white;
    text-align: center;
}

.logo-branco {
    position: relative;
    left: 43.5%;
}