header {
    background: gray;
    padding: 20px;
    box-sizing: border-box;
}

.navegação {
    position: relative;
    width: 940px;
    margin: auto;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    left: 0;
}

nav {
    position: absolute;
    right: 0;
    top: 23%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 15px;
}

nav a:hover {
    color: darkgoldenrod;
    font-size: 30px;
    transition: 0.6s;
    margin: 0 0 15px 15px;
}

nav a:active {
    color: rgb(15, 116, 205);
    transition: 0s;
}

body {
    background: linear-gradient(white, gray);
}

main {

    width: 940px;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

form input, textarea {
    display: block;
    width: 50%;
    font-size: 18px;
    margin: 15px 0 15px 0;

}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    margin: 10px 10px 10px 0;
    font-size: 18px;
    color: black;
}


.botao {
    background: red;
    color: black;
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 0px 20px 5px;

}

.botao:hover {
    background: red;
    color: black;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 15px 0px 20px 15px;
    box-sizing: border-box;
}

.botao:active {
    background: yellow;
    color: red;
    border: 1.5px solid blue;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 0px 2px 15px;
}

footer {
    background: url(bg.jpg);
}

footer p {
    color: white;
    text-align: center;
}

.logo-branco {
    position: relative;
    left: 43.5%;
}